---
apiVersion: argoproj.io/v1beta1
kind: ArgoCD
metadata:
  name: openshift-gitops
  namespace: openshift-gitops
spec:
  controller:
{% if ocp5_rhacs_openshift_gitops_controller_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp5_rhacs_openshift_gitops_controller_limits_cpu }}"
        memory: "{{ ocp5_rhacs_openshift_gitops_controller_limits_memory }}"
      requests:
        cpu: "{{ ocp5_rhacs_openshift_gitops_controller_requests_cpu }}"
        memory: "{{ ocp5_rhacs_openshift_gitops_controller_requests_memory }}"
    appSync: "{{ ocp5_rhacs_openshift_gitops_controller_app_sync }}"
{% endif %}
  extraConfig:
    timeout.reconciliation: "{{ ocp5_rhacs_openshift_gitops_timeout_reconciliation }}"
{% if ocp5_rhacs_openshift_gitops_resource_customizations | length > 0 %}
    resource.customizations: |
      {{ ocp5_rhacs_openshift_gitops_resource_customizations | regex_replace("\n(?!$)", "\n      ") }}
{% endif %}
  repo:
{% if ocp5_rhacs_openshift_gitops_repo_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp5_rhacs_openshift_gitops_repo_limits_cpu }}"
        memory: "{{ ocp5_rhacs_openshift_gitops_repo_limits_memory }}"
      requests:
        cpu: "{{ ocp5_rhacs_openshift_gitops_repo_requests_cpu }}"
        memory: "{{ ocp5_rhacs_openshift_gitops_repo_requests_memory }}"
{% endif %}
  rbac:
    defaultPolicy: ""
    policy: |
      g, admin, role:admin
    scopes: '[groups, preferred_username]'
  server:
{% if ocp5_rhacs_openshift_gitops_enable_route | bool %}
    route:
      enabled: true
{%   if ocp5_rhacs_openshift_gitops_update_route_tls | bool %}
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
    insecure: true
{%   endif %}
{% endif %}
{% if ocp5_rhacs_openshift_gitops_ignore_differences | length > 0 %}
  resourceIgnoreDifferences:
    {{ ocp5_rhacs_openshift_gitops_ignore_differences | indent(4) }}
{% endif %}
